asgiref==3.7.2 ; python_full_version == "3.12.1"
django==5.0.1 ; python_full_version == "3.12.1"
gunicorn==21.2.0 ; python_full_version == "3.12.1"
packaging==23.2 ; python_full_version == "3.12.1"
sqlparse==0.4.4 ; python_full_version == "3.12.1"
tzdata==2023.4 ; python_full_version == "3.12.1"
